




.nonFixedInfoContainer{
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  .experienceTitle{
    font-weight: 500;
    margin-bottom: 1rem;
  }

  .experienceContainer{
    .jobTitle{

    }
  }
}
