.nonFixedInfoContainer{
  display: flex;
  position: sticky;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  .experienceTitle{
    //font-weight: 500;
    margin-bottom: 2rem;
  }
  .viewResume{
    margin-top: -2rem;
  }
  .projectsTitle{
    margin-top: 10rem;
    top: 0;
  }
  .fullProjectLink{
    margin-top: 2rem;
  }
}
