.main{
  //background: linear-gradient(-45deg, rgb(98, 23, 57), rgb(28, 38, 141), rgb(172, 84, 255));
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  padding: 0 1.5rem;
  height: 100%;

}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}